<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="hashLatestUrl" value="https://f00b4r.org/g2/hash/latest/windows.txt" />
    <add key="downloadUrl" value="https://www.galcon.com/g2/files/latest/Galcon2.zip" />
  </appSettings>
</configuration>